@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --primary-color: #007af3;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: "Poppins";
}

.navbar {
    background: white;
    padding: 1em;
}

.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.navbar .logo span {
    color: var(--primary-color);
}

.navbar nav {
    display: none;
}

.navbar .container {
    display: flex;
    place-content: space-between;
}

.navbar .mobile-menu {
    cursor: pointer;
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}

.left-col .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
}

.left-col h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
}

.left-col .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
}

.left-col .watch-video-cta {
    display: block;
    margin-top: 1em;
}

.left-col .watch-video-cta img {
    margin-right: 0.5em;
}

.hero-img {
    width: 70%;
    margin-top: 3em;
}

section.features-section {
    background: #20272e;
    color: white;
}

ul.features-list {
    margin: 0;
    padding-left: 0.1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
}

ul.features-list li:before {
    content: "";
    left: -2em;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../public/images/bullet.svg");
    background-size: contain;
    margin-right: 0.5em;
}

.features-section img {
    display: none;
}

.testimonials-section {
    background: var(--primary-color);
    color: white;
}

.testimonials-section li {
    background: #006bd6;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
}

.testimonials-section li img {
    width: 5em;
    height: 5em;
    border: 5px solid #006bd6;
    border-radius: 50%;
    margin-top: -4.5em;
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: 0.8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    padding: 1em;
}

nav ul.primary-nav {
    margin-top: 5em;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;
}

nav li a:hover {
    font-weight: bold;
}

.mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .navbar nav ul {
        display: flex;
    }

    .navbar nav a {
        color: black;
        font-size: 1em;
        padding: 0.1em 1em;
    }

    .navbar nav ul.primary-nav {
        margin: 0;
    }

    .navbar nav li.current a {
        font-weight: bold;
    }

    .navbar nav li.go-premium-cta a {
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
        font-weight: bold;
        border-radius: 5em;
        margin-top: -0.2em;
    }

    .navbar nav li.go-premium-cta a:hover {
        background: var(--primary-color);
        color: white;
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .hero .container .left-col {
        margin: 3em 3em 0 5em;
    }

    .hero .container .left-col h1 {
        font-size: 3em;
        width: 90%;
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }

    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;
    }

    ul.features-list li {
        font-size: 1.4em;
    }

    ul.features-list li:before {
        width: 30px;
        height: 30px;
    }

    .features-section {
        position: relative;
    }

    .features-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }

    .testimonials-section ul {
        display: flex;
    }

    .testimonials-section ul li {
        margin: 0 1em;
    }

    .contact-section {
        position: relative;
    }

    .contact-section .container {
        display: flex;
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
    }

    .contact-right iframe {
        height: 100%;
    }
}

@media only screen and (min-width: 1450px) {
    .features-section:before {
        content: "";
        position: absolute;
        width: 10%;
        height: 20em;
        background: var(--primary-color);
        left: 0;
        top: -4em;
    }

    .features-section:after {
        content: "";
        position: absolute;
        width: 200px;
        height: 20em;
        background: url("../public/images/dots.svg") no-repeat;
        left: 4.5em;
        top: 2em;
    }
}
